.err{
    border: 1px solid red
}
.theme-dark .err{
    border: 1px solid red
}

.theme-dark .topbar{
  background-color: #1e1e2d;
  border-radius:10px;
  color: #eee;
  font-weight: 700;

} 

.theme-dark #topBar-Content a{
  color: white;
}



.dropdown-menu li{
	position: relative;
}

.dropdown-menu .submenu{
	display: none;
	position: absolute;
} 

.dropdown-menu>li:hover>.submenu{
	display: block;
	left: 100%;
	top: -7px;
}

.categoria{
	cursor: pointer;
}
.item{
	cursor: pointer;
}


/* DRAG AND DROP VEHICULOS*/
  #sortable1, #sortable2 {
    border: 2px solid rgb(28, 19, 189);
    background-color: #2212a8;
    padding: 10px;
    border-radius: 4px;
    min-height: 350px;
    list-style-type: none;
	  min-width: 95%;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    color: white;
    background: #4525d2;
    cursor: pointer;
    font-weight: 600;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
  #sortable1 li{
    border-radius: 5px;
    cursor: pointer;
    pointer-events: visibleStroke;
  }

  #sortable1 #sortable2{
	border: 1px solid black;
  }
/* DRAG AND DROP personal*/
  #sortablePersonal1, #sortablePersonal2 {
    border: 2px solid rgb(28, 19, 189);
    background-color: #2212a8;
    padding: 10px;
    border-radius: 4px;
    min-height: 350px;
    list-style-type: none;
	  min-width: 95%;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortablePersonal1 li, #sortablePersonal2 li {
    color: white;
    background: #4525d2;
    cursor: pointer;
    font-weight: 600;
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
  #sortablePersonal1 li{
    border-radius: 5px;
    cursor: pointer;
    pointer-events: visibleStroke;
  }

  #sortablePersonal1 #sortablePersonal2{
	border: 1px solid black;
  }

  .notSelectedProd,.selectedProd{
	border: 1px solid #eee;
	min-height: 350px;
  }


  #sortable3{
	min-width: 100%;

  }


  #sortable3,#sortable4{
	min-width: 100%;
	border: 1px solid blue;
  }
  #sortable3,#sortable4 tr{
	min-width: 100%;
	border: 1px solid rgb(71, 71, 174);
  }


  .box{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
   }

  input[type=text],input[type=number],input[type=date],input[type=password],textarea {
   border:1px solid gray;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;         
  }

  .form-select{
    border:1px solid gray;
  }

  .box-prod{
    max-height: 350px;
    overflow-x: hidden;
  }

  .addProdInput{
    max-width: 50px;
  }


  .dragItemsHead{
    display: flex;   
    justify-content: space-between;
    color: black;
    font-weight: 800;
  }
  .dragItemsHead p{
    width: 23%;
    background-color: blue;
    text-align: center;
    line-height: auto;
    margin-top: 8px;
    margin: 2px;
  }
  .dropItem{
    min-height: 350px;
  }

  #tableDrop td{
    height: auto;
    border: 1px solid black;
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: auto;
    cursor: pointer;
  }

  #selectableProducts{
   margin:1px solid red;
  }


  #tbodyReceive{
    min-height: 200px;
    border: 1px solid white;
  }

  #tbodyReceive{
    min-height: 200px;
    border: 1px solid white;
  }

  .centered-spaced{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .itemName{
    font-weight: 800;
    font-size: 20px;
    overflow: hidden;
  }
  #receiveProducto{
    min-height: 104px;
    margin-top: 20px;
  }
  .detailsProduct-box{
    border-radius: 5%;
    border:2px solid rgb(61 61 177 / 38%);
    display: flex;
  }
  .checkitem{
    margin: 0px 5px;
    display: flex;
    align-content: center;
  }

  .verticalLine{
    min-height: 100%;
    float: right;
    max-width: 1px;
    border:1px solid rgb(61 61 177 / 38%);
    margin-left: 3px;
  }
  .itemDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:4px 10px;
  }

  .containerRemoveLogo{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
  .containerRemoveLogo{
    justify-content: center;
    display: flex;
  }
  .detailQuantity{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .logoRemove{
    cursor: pointer;
  }

  .dragableItems{
    max-height: 1200px;
    overflow: scroll;
  }

  .moveProd{
    max-height: 1000px;
    overflow: scroll;
  }
  .detailsProduct-box{
    margin-bottom: 20px;
  }
  #receiveProducto{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    
  }
  .theme-dark #receiveProducto {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1e1e2d;
    
  }

  .serachInputDrag{
    display:flex;
    max-width: 40%;
    margin-bottom: 25px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .getProjectDetails:hover{
    border: 2px solid black;
    transition: .4s all ease;
    cursor: pointer;
  }

  .personalPrice{
    max-height: 30px;
    margin-left: 20px;
  }
  .addPersonal{
    font-size: 20px;
    color: green;
    margin: 0px 5px;
  }
  .addPersonal:hover{
    animation: beat 1.5s infinite alternate;
  }

  @keyframes beat{
    0%{
      transform: scale(1.5) translateY(8px) 
    }
    100%{
      display: none;
    }
  }

  .resume-table{
    width: 100%;
    margin-top: 40px;
    border-radius: 1px;

  }
  .resume-table tr{
    min-height: calc(100% + 15px);
    border-bottom: 1px solid gray;
  }
  .resume-table td{
    text-align: center;
    justify-content: center;
  }


  /* LOADER */
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }


.projectNameResume{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.dark-theme .projectNameResume{
  text-align: center;
}
.verticalTable tr{
  border:1px solid black
}
.spaced{
  margin-bottom: 50px;
}

.verticalTable td, .verticalTable th{
  margin: 5px;
  padding:3px;
  text-align: center;
  vertical-align: baseline;
}
.theme-dark .verticalTable td,.theme-dark .verticalTable th{
  margin: 5px;
  padding:3px;
  text-align: center;
  vertical-align: baseline;
  transition: all .4s ease;

}

.tbodyHeader,.verticalTable th{
  border: 1px solid black;
  background-color: grey;
  color: black;
  width: 30%;
  font-size: 18px;
  font-weight: 700;
  transition: all .4s ease;

}

.theme-dark .tbodyHeader,.theme-dark .verticalTable th{
  border: 1px solid rgba(255, 255, 255, 0.703);
  background-color: #1e1e2d;
  color: white;
  width: 30%;
  font-size: 18px;
  font-weight: 500;
  transition: all .4s ease;

}

.theme-dark .tbodyHeaderTotal{
  background-color: #1e1e2d;
  transition: all .4s ease;
}
.tbodyHeaderTotal{
  background-color: lightcoral;
  transition: all .4s ease;
}

#projectData{
  margin-bottom: 30px;
}

.deleteRow{
  color:red;
  font-size: 18px;
  transition: .5s all ease;
}


.section-cost{
  margin:20px 0px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.centerText{
  text-align: center;
}

.margin-button{
 margin: 0px 10px;
 
}

.theme-dark #projectSubArriendos tr{
  border: 1px solid rgba(255, 255, 255, 0.11) !important;
}

#projectSubArriendos tr{
  border: 1px solid red
}


#tableProducts_wrapper > .productName{
  min-width: 25% !important;
}

table.dataTable tbody td .productName {
  padding: 8px 10px;
}

.err{
  border:1px solid red;
  background-color: rgba(255, 0, 0, 0.12);
}
.theme-dark .err{
  border:1px solid red;
  background-color: rgba(255, 0, 0, 0.12);
}
.max300{
  max-height: 300px !important;
}
.theme-dark .max300{
 max-height: 300px !important;
}
.max800{
  max-height: 800px !important;
}
.theme-dark .max800{
 max-height: 800px !important;
}
.max400{
  max-height: 400px !important;
}
.theme-dark .max400{
 max-height: 400px !important;
}


/* hide scrollbar but allow scrolling */
.hiddenScroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: 2px; /* for Firefox */
  overflow-y: scroll; 
}

.hiddenScroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* hide scrollbar but allow scrolling */
.theme-dark .hiddenScroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.theme-dark .hiddenScroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



/* .theme-dark .btn-confirm{
 padding: 5px;
 font-size: 16px;
 border-radius: 5px;
 color:white;
 font-weight: 600;
 background-color: #04AA6D;  
}
.btn-confirm{
 padding: 5px;
 font-size: 16px;
 border-radius: 5px;
 color:white;
 font-weight: 600;
 background-color: #04AA6D;
} */



.ulProblems{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
}
.container-end{
  justify-content: center;
  right: 10px;
  display: flex;

}
.problemContainer{
  box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
  margin: 30px 15px;
  padding: 10px;
  border-radius: 10px;
  min-width: 30%;
  margin: 20px 10px;
}

@media (max-width: 1500px) {
  .problemContainer{
    min-width: 40%;
  }
}
@media (max-width: 1000px) {
  .problemContainer{
    min-width: 70%;
  }
}
@media (max-width: 700px) {
  .problemContainer{
    min-width: 80%;
  }
}
/* .sideContainer{
  display: flex;
  justify-content: center;
} */

/* .theme-light  .sideContainer{
  display: flex;
  justify-content: center;
}
.theme-dark  .sideContainer{
  display: flex;
  justify-content: center;
} */

.elementList{
  list-style: none;
  padding: 0px;

}
.elementList li{
  margin-top: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  overflow: auto;
  /* width: 100%; */
  /* border: 1px solid black; */
  padding: 5px;  
  height: 65px;
  transition: all .3s ease;
  font-weight: 700;
  color:black;
}

.elementList li:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset;
  background-color: rgba(38, 36, 36, 0.24);
}

.actionContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 2px 3px;
  right: 15px;
  padding: 5px;
}

.deleteDynamic{
  border-radius: 10px;
  font-size: 0px;
  margin: 0px;
  transition: all .3s ease;
  background-color: red;
  color: red;
  font-weight: 600;
  padding: 0px;
  color: white;
  cursor: pointer;
}

.minus{
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: all .3s ease;
}

.actionContainer:hover .deleteDynamic{
  font-size: 15px;
  padding: 5px;
}
.actionContainer:hover .minus{
  font-size: 0px;
  padding: 0px;
}


.addDynamic{
  border-radius: 10px;
  font-size: 0px;
  margin: 0px;
  transition: all .3s ease;
  background-color: green;
  color: green;
  font-weight: 600;
  padding: 0px;
  color: white;
  cursor: pointer;
}

.plus{
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: green;
  cursor: pointer;
  transition: all .3s ease;
}

.actionContainer:hover .addDynamic{
  font-size: 15px;
  padding: 5px;
}
.actionContainer:hover .plus{
  font-size: 0px;
  padding: 0px;
}

.btn-confirm{
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  font-weight: 550;
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.864);
  transition: all .4s ease;
  letter-spacing: 0.5px;
}
.btn-confirm:hover{
  background-color:  rgba(4, 104, 4, 0.864);
  font-size: 16px;
  letter-spacing: 1px;
}
.flex{
  display: flex;
}

.just-content-end{
  justify-content: end;
}


.theme-dark .ulProblems{
  display: flex;
  flex-wrap: wrap;
}
.theme-dark .container-end{
  justify-content: center;
  right: 10px;
  display: flex;

}
.theme-dark .problemContainer{
  box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
  margin: 30px 15px;
  padding: 10px;
  border-radius: 10px;
}

.theme-dark .elementList{
  list-style: none;
  padding: 0px;

}
.theme-dark .elementList li{
  margin-top: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  overflow: auto;
  /* width: 100%; */
  /* border: 1px solid black; */
  padding: 5px;  
  height: 70px;
  transition: all .3s ease;
  font-weight: 700;
  color:white;
}

.theme-dark .elementList li:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset;
  background-color: rgba(91, 87, 87, 0.24);
}

.theme-dark .actionContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 2px 3px;
  right: 15px;
  padding: 5px;
}

.theme-dark .deleteDynamic{
  border-radius: 10px;
  font-size: 0px;
  margin: 0px;
  transition: all .3s ease;
  background-color: red;
  color: red;
  font-weight: 600;
  padding: 0px;
  color: white;
  cursor: pointer;
}

.theme-dark .minus{
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: all .3s ease;
}

.theme-dark .actionContainer:hover .theme-dark .deleteDynamic{
  font-size: 15px;
  padding: 5px;
}
.theme-dark .actionContainer:hover .theme-dark .minus{
  font-size: 0px;
  padding: 0px;
}


.theme-dark .addDynamic{
  border-radius: 10px;
  font-size: 0px;
  margin: 0px;
  transition: all .3s ease;
  background-color: green;
  color: green;
  font-weight: 600;
  padding: 0px;
  color: white;
  cursor: pointer;
}

.theme-dark .plus{
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: green;
  cursor: pointer;
  transition: all .3s ease;
}

.theme-dark .actionContainer:hover .addDynamic{
  font-size: 15px;
  padding: 5px;
}

.theme-dark .actionContainer:hover .plus{
  font-size: 0px;
  padding: 0px;
}

.theme-dark .btn-confirm{
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  font-weight: 550;
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.864);
  transition: all .4s ease;
  letter-spacing: 0.5px;
}
.theme-dark .btn-confirm:hover{
  background-color:  rgba(4, 104, 4, 0.864);
  font-size: 16px;
  letter-spacing: 1px;
}
.theme-dark .flex{
  display: flex;
}

.theme-dark .just-content-end{
  justify-content: end;
}

.ulEspecialidades{
  max-height: 180px;
  overflow: auto;
}
.ulCargos{
  max-height: 180px;
  overflow: auto;
}
.elementList{
  max-height: 180px;
  overflow: auto;
}
#tableProblems{
  height: 250px;
}

#project-resume{
  list-style: none;
  padding: 0px;
  overflow: scroll;
  overflow-x: hidden;
  max-height:450px;
  transition: all .4s ease;
}
#project-resume li{
  padding: 5px;
  background-color: #1818556f;
  border: none;
  border-radius: 8px;
  margin-top: 3px;
  text-align: center;
  transition: all .4s ease;

}
.theme-dark #project-resume li{
  padding: 5px;
  background-color: #1818556f;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin-top: 3px;
  text-align: center;
  transition: all .4s ease;

}
.theme-dark #project-resume li p{
  transition: all .4s ease;

  color: white;
}

.projectData{
  display: flex;
  justify-content: space-between;
}

.lipad{
  padding: 7px;
  color: black;
  width: 50%;
  text-align: center;
}

.headerLi{
  position: sticky;
  top: 0px;
}


.containerList{
  display: flex;
  flex-wrap: wrap;
}

#projectView{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
  height: 150px;
  overflow: visible;
  /* margin-bottom: 500px; */
}

@media (max-width: 850px) {

 #projectView{
  justify-content: center;
 }
 .containerList{
  justify-content: center;
 }

}

.option-header{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-option{
  min-width: 350px;
  max-height: 120px;
  background-color: #2212a8;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
  justify-content: center;
  align-content: center;
  border-radius: 10px 10px 0px 0px;
}


.project-option p {
  text-align: center;
  line-height: 120px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-size: 30px;
  align-content: center;
  margin:0px;

}

.sort-options{
  height: 0px;
  background-color: rgba(255, 0, 0, 0.349);
  border-radius: 0px 0px 10px 10px;
  margin-right: 20px;
  width: auto;
  z-index: 10000;
}

.selectable-option{
  height: 0px;
  display: flex;
  background-color: #4525d274;
  margin: 1px 0px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-content: center;
  transition: all .6s ease;
}

.selectable-option p{
  visibility: hidden;
  line-height: 100px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
}


.form-control.err{

  background-color: rgba(255, 0, 0, 0.265) !important;
  border: 1px solid red !important;
}
.form-control.success{

  background-color: rgba(0, 128, 0, 0.265) !important;
  border: 1px solid green !important;
}

#txtemail.error{
  background-color: rgba(255, 0, 0, 0.208) !important;
  border: 1px solid red !important;
}

.selectable-option:hover{
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
  background-color: red
}

.option-header:hover .selectable-option{
  height: 100px;
  background-color: #4525d2fc;
}
.option-header:hover .selectable-option p{
  visibility: visible;
}

#projects-display{
  max-height: 650px;
  overflow: scroll;
}

#calendar-container{
  padding: 20px;
  max-height: 650px;
}


/* STYLE FOR SPINNER CONTAINER */
#loaderContainer{
  position: absolute;
  background-color: rgba(190, 182, 182, 0.511);
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  visibility: hidden;
  transition: all .3s ease;
}
#loaderContainer.active{
  height: 100%;
  visibility: visible !important;
  transition: all .3s ease;
}


/* LOADER PARA CARGA DE DATOS PANTALLA COMPLETA */
.loader {
  width: 110px; /* control the size */
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 45deg, #0003,#000);
          mask: conic-gradient(from 45deg, #0003,#000);
  animation: load .45s steps(10) infinite;
}
.loader,
.loader:before {
  --_g: linear-gradient(#17177c 0 0) 50%; /* update the color here */
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}
.loader:before {
  content: "";
  transform: rotate(135deg);
}
@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

.arriendos-form-container.active{
  height: 80%;
  transition: all .4s ease;
}
.active .formContainer{
  height: auto;
  visibility: visible;
  padding: 40px;
}

.arriendos-form-container{
  display: flex;
  width: 80% ;
  background-color: rgba(255, 0, 0, 0.415);
  height: 0%;
  bottom: 0px;
  transition: all .4s ease;
  margin-left: -31px;
  justify-content: center;
  z-index: 1000;
}

@media (max-width: 1200px) {

  .arriendos-form-container{
    width: 100%;
  }
 
}

.formContainer{
  margin: 10px;
  width: calc(100% - 20px) ;
  padding: 0px;
  visibility: hidden;
  height: 0px;
  overflow-y: scroll;
}
.theme-dark hr{
  color: white;
}


#rentsUl li{
  display: flex;
  align-content: center;
  list-style: none;
  transition: all .5s ease;
  cursor: pointer;
  /* margin-bottom: 2px; */
}

.rentObj{
 transition: all .5s ease;
}

#rentsUl .rentObj:hover {
  background-color: #435ebe;
 
}
#rentsUl .rentObj:hover p {
  color: white;
}
.theme-dark #rentsUl li p{
  color: white;
}
#rentsUl li p{
  color: black;
  list-style: none;
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  line-height: 47px;
}

#searchRentInput{
  position: sticky;
  top: 0px;
}

#rentsUl li input{
  margin-left: 5px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
}
#rentsUl{
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  height: 0px;
  visibility: hidden;
  transition: all .8s cubic-bezier(0.66, 0.58, 0, 1.42);
  overflow: scroll;
  overflow-x: hidden;
}
#rentsUl.active{
  height: 250px;
  visibility: visible;
}
.arriendosSelect{
  height: 0px;
  visibility: hidden;
  transition: all .8s cubic-bezier(0.66, 0.58, 0, 1.42);
  margin-bottom: 65px;
}
.arriendosSelect.active{
  height: 250px;
  visibility: visible;
}

.LogOut{
  position: absolute;
  bottom: 30px;
  right: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeSessionBtn{
  border: none;
}
.theme-dark .closeSessionBtn{
  background-color: #1e1e2d;
}
#download-Excel{
  cursor: pointer;
  transition: all 1s ease;
}
#download-Excel:hover::after{
  top:0px;
  opacity: 1;
}

#download-Excel::after{
  content: "Descargar Excel Tipo";
  position: relative;
  top:-10px;
  width: 0px;
  transition: all 1s ease;
  color: #1D6F42;
  opacity: 0;
}

#clients-container{
  /* background-color: rgba(255, 0, 0, 0.257); */
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-height: 80vh;
  min-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

#clients-container h4{
  text-align: center;
  color: white;
}

#clients-container::-webkit-scrollbar{
  display: none;
}

.client-box{
  width: 30%;
  margin: 10px;
  height: 350px;
  border-radius: 10px;
  background-color: #1e1e2d;
  padding: 5px;
}

.client-box{
  color: white;
  text-align: left;
}

.client-box-body{
  padding: 5px;
}

.action-container{
  display: flex;
  height: 80px;
  align-content: center;
  align-items: center;
  padding: 10px;

}
.action-box{
  display: flex;
  border: 1.5px solid rgb(11, 139, 11);
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: all .9s;
  font-size: 24px;
  color: white;
  background-color: green;
  height: 40px;
}

.action-box::after{
 content: 'Agregar usuario';
 visibility: unset;
 opacity: 0;
 margin-left: 4px;
 font-size: 0px;
 transition: all .4s;
}
.action-box:hover{
  scale: 1.1;
}
.action-box:hover::after{
  visibility: visible;
  opacity: 1;
  width: auto;
  font-size: 24px;
}
.action-box p{
  line-height: 100%;
  text-align: center;
  color: white;
}


/* DELETE USER ACTION BOX */
.action-box-delete{
  display: flex;
  border: 1.5px solid red;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: all .4s;
  font-size: 24px;
  color: white;
  background-color: rgba(139, 11, 11, 0.319);;
  height: 40px;
  width: 10%;
}

.action-box-delete::after{
 content: 'Eliminar usuario';
 visibility: unset;
 opacity: 0;
 margin-left: 4px;
 font-size: 0px;
 transition: all .4s;
 text-align: center;
}
.action-box-delete:hover{
  scale: 1.05;
  background-color: rgba(255, 0, 0, 0.696);
  width: 50%;
}
.action-box-delete:hover::after{
  visibility: visible;
  opacity: 1;
  width: auto;
  font-size: 24px;
}
.action-box-delete p{
  line-height: 100%;
  text-align: center;
  color: white;
}

@media (mix-width: 1301px) {

  .action-box-delete{
    width: 12%;
  }
  .action-box-delete:hover{
    width: 65%;
  }
 
}
@media (max-width: 1300px) {

  .action-box-delete{
    width: 12%;
  }
  .action-box-delete:hover{
    width: 65%;
  }
 
}
@media (max-width: 1100px) {

  .action-box-delete{
    width: 12%;
  }
  .action-box-delete:hover{
    width: 55%;
  }
 
}
@media (max-width: 680px) {

  .action-box-delete{
    width: 20%;
  }
  .action-box-delete:hover{
    width: 75%;
  }
 
}
@media (max-width: 530px) {

  .action-box-delete{
    width: 35%;
  }
  .action-box-delete:hover{
    scale: 1.05;
    background-color: rgba(255, 0, 0, 0.696);
    width: 98%;
    height: 70px;
  }
 
}
@media (max-width: 380px) {

  .action-box-delete{
    width: 40%;
  }
  .action-box-delete:hover{
    scale: 1.05;
    background-color: rgba(255, 0, 0, 0.696);
    width: 99%;
    height: 80px;
  }
 
}


/* END DELETE USER ACTION BOX */
#newUserPersonalData{
  transition: all .3s ease;
}
#newUserPersonalData.hidden{
  height: 0px;
  opacity: 0;
  visibility: hidden;
}
.existingPersonal{
  padding: 10px;
  border: 1px solid rgb(3, 97, 3);
  background-color: #c6cb2e55;
  border-radius: 5px;
}
.existingPersonal.greenback{
  background-color: #1d6f4255;
}
.select2-results__option{
  color: black;
  font-weight: 600;
}

.adm-container{
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  flex-direction: column;
}
.center-element{
  justify-content: center;
  align-items: center;
}
.row-direction{
  flex-direction: row !important;
}
.colum-direction{
  flex-direction: row !important;
}

.user-options-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sticky-head{
  position: sticky;
  top:-30px;
  right: -30px;
  left:-30px;
  background-color: white;
  z-index: 1000;

}

.theme-dark .sticky-head{
  background-color: #151521;
}


@media (max-width: 650px) {
  .user-options-info{
    flex-direction: column !important;
  }
}
.rol-options-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.487);
}
.user-config-description{
  padding: 15px 30px 0px 10px;
}
#users{
  display: flex;
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  flex-direction: row;
  transition: all 1s ease;
}
#users.hidden{
  position: relative;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  margin-left: -1000px;
}
.collapsableFormContainer{
  transition: all 1s ease;
}
.collapsableFormContainer.hidden{
  opacity: 0;
  visibility: hidden;
  height: 0px;
}

@media (max-width: 1000px) {

  #users{
    flex-direction: column;
  }
  .user-container{
    width: 100% !important;
    margin: 0px !important;
  }
  .user-element{
    
    width: 33%;
  }

  .user-options{
    width: 100% !important;
    margin: 0px 0px !important;
    overflow-y: scroll;
  }
 
}

@media (max-width: 1000px) {
  .user-element{
   transition: width .45s ease !important;
   transition: box-shadow .45s  !important;
  }
}

@media (max-width: 580px) {
  .user-element{
    width: 65% !important;
  }
  
}
@media (max-width: 400px) {
  .user-element{
    width: 85% !important;
  }
  
}
@media (max-width: 350px) {
  .user-element{
    width: 95% !important;
  }
  
}
@media (max-width: 1400px) {
  .rol-item-container{
    width: 80% !important;
  }
  
}
@media (max-width: 800px) {
  .rol-item-container{
    width: 85% !important;
  }
}


@media (max-width: 500px) {
  .rol-item-container{
    width: 100% !important;
  }
  #rol-Container{
    width: 110% !important;
  }
  
}

.user-container{
  width: 45%;
  min-height: 100%;
  max-height: 100%;
  margin: 10px 0px 10px 10px;
  /* background-color: #1e1e2d; */
  overflow-x: hidden;
  overflow-y: scroll;
  padding :30px 0px 0px 0px ;
  border: 2px solid rgba(0, 0, 0, 0.571);
  border-radius: 10px;
}

.user-container::-webkit-scrollbar{
  display: none;
}

.user-options{
  display: flex;
  flex-direction: column;
  width:100%;
  min-height: 100%;
  max-height: 100%;
  /* background-color: rgba(0, 0, 255, 0.185); */
  margin: 10px 10px 10px 0px;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.571);
  border-radius: 10px;
}

#rol-Container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  transition: all .8s ease;
}
#rol-Container.hidden{
  opacity: 0;
  visibility: hidden;
}
.rol-item-container{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 20px;
  border: 1.5px solid black;
  border-radius: 10px;
  height: 80px;
  width: 40%;
  transition: all .5s ease;
}

.rol-prop{
  position: relative;
  align-items: center;
  left: -25px ;
  display: flex;
  align-items: center;
  align-content: center;
}
.rol-prop p{
  margin-top: 16%;
}

.rol-item-container.active{
  border: 2.5px solid green;
  background-color: rgba(0, 128, 0, 0.192);
}

#userList{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.user-element{
  margin: 20px 5px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  transition: all .65s cubic-bezier(0.9, 1.9, 0.6, 1.15);
}

.user-element.active{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #48b14b;
  color: white;
  width: 150%;
}

.user-element:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #435ebe;
  color: white;
}

.user-element:hover h5{
  color: white;
}


.saveChanges{
  display: flex;
  justify-content: end;
  position: relative;
  top: -40px;
  transition: all .3s ease;
}

@media (max-width: 650px) {
  .saveChanges{
    top:0px
  }
  
}

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
}

.checkbox-wrapper-22{
  box-sizing: border-box;
  position: relative;
  top: -35px;
  left: 10px;
}

.checkbox-wrapper-22 .switch input {
  display:none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 23px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 23px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #66bb6a;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(20px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}

/* CHECKBUTTONS FOR USERS OPTIONS */


.check-btn-user {
  display: grid;
  place-content: center;
}

.check-btn-user::before{
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.check-btn-user:checked::before {
  transform: scale(1);
}


.recordEvent{
  border: 1px solid black !important;
  background-color: #28283d !important;
}


#clientFactData{
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: height .5s ease;
}

#clientFactData.active{
  height: auto;
  visibility: visible;
  opacity: 1;
}

.my-swal-zindexed{
  /* background-color: red !important; */
  z-index: 40000 !important;
}

#swal2-input{
  z-index: 40000 !important;
}
.swal2-popup {
  z-index: 40000 !important;
}

.subcategorieName{
  font-size:18px;
  text-align: center;
}
.tableCatsAnsResume{
  margin-bottom: 50px;
}
.tableCatsAnsResume th{
  width: 25% !important;
  text-align: center !important;
  border: 1px solid black !important;
}
.tableCatsAnsResume td{
  width: 25% !important;
  text-align: center;
  border: 2px solid black !important;
}

.theme-dark .tableCatsAnsResume th{
  border: 1px solid white !important;
}
.theme-dark .tableCatsAnsResume td{
  border: 1px solid white !important;
}

